<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.ReplyMapper">
	<insert id="insert">
	
		insert into tbl_reply (rno,bno,reply,replyer)
		values(seq_reply.nextval, #{bno}, #{reply}, #{replyer})
	
	</insert>
	
	<select id="read" resultType="com.example.domain.ReplyVO">
	
		SELECT * FROM tbl_reply WHERE rno = #{rno}
	
	</select>
	
	<delete id="delete">
	
		DELETE FROM tbl_reply WHERE rno = #{rno}
	
	</delete>
	
	<update id="update">
	
		UPDATE tbl_reply SET reply = #{reply}, updatedate = sysdate WHERE rno = #{rno}
		
	</update>
	
<!-- 	<select id="getListWithPaging" resultType="com.example.domain.ReplyVO"> -->
<!-- 		SELECT rno, bno, reply, replyer, replyDate, updatedate -->
<!-- 		FROM tbl_reply -->
<!-- 		WHERE bno = #{bno} -->
<!-- 		order by rno asc -->
<!-- 	</select> -->

	<!-- 검색이 빠진 페이징 처리와 같다. -->
	<select id="getListWithPaging" resultType="com.example.domain.ReplyVO">
		select rno, bno, reply, replyer, replydate, updatedate
		from 
		<![CDATA[
		(select /*+INDEX(tbl_reply idx_reply) */
		rownum rn, rno, bno, reply, replyer, replyDate, updatedate
		from tbl_reply
		where bno=#{bno}
		and rno > 0
		and rownum <= #{cri.pageNum} * #{cri.amount}
		order by rno
		) where rn > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
	</select>
	
	<!-- 게시물별 댓글 총갯수 리턴 -->
	<select id="getCountByBno" resultType="int">
		select count(rno) from tbl_reply where bno=#{bno}
	</select>
	
</mapper>